@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-open-sans);
  --font-heading: var(--font-montserrat);

  --color-primary-900: #003366;
  --color-primary-800: #004277;
  --color-primary-700: #005288;
  --color-primary-600: #1470e0;
  --color-primary-500: #288CFA;
  --color-primary-400: #54a5fc;
  --color-primary-300: #80beff;
  --color-primary-200: #abd8ff;
  --color-primary-100: #d6efff;
  
  --color-neutral-900: #333333;
  --color-neutral-500: #939399;
  
  --color-success-600: #2E865F;
  --color-warning-500: #FFCE01;
  --color-danger-600: #C8102E;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
